* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 70%;
  max-width: 1000px;
  justify-content: center;
  background-color: lightgray;
}

.image {
  background: white;
  padding: 10px;
  text-align: center;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
